<header class="d-flex flex-wrap justify-content-center py-1 mb-4 border-bottom">

  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <span class="fs-4">{{ site.Title }}</span>
  </a>
  <ul class="nav nav-pills">
    <a class="nav-link dropdown-toggle" href="/artificial-intelligence/" data-bs-toggle="dropdown">Artificial Intelligence</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/artificial-intelligence/use-cases/">Use Cases</a></li>
      <li><a class="dropdown-item" href="/artificial-intelligence/capabilities/">Capabilities</a></li>
    </ul>
    <a class="nav-item nav-link link-body-emphasis" href="/microsoft/">Microsoft</a>
    <a class="nav-item nav-link link-body-emphasis" href="/tags/">Tags</a>
    <!-- <a class="nav-item nav-link link-body-emphasis" href="#">{{ partial "theme-switch.html" .}}</a> -->
  </ul>
</header>